body
{
	font-family: "Courier";
	text-align:center;
	background-color:#000;
}
div
{
	margin:auto;
	width:576px;
}
.row {
	clear:both;
}
span
{
	border:1px solid #202020;
	width:16px;
	height:16px;
	float:left;
}