body
{
	font-family: "Courier";
	text-align:center;
	background-color:#000;
	color:#CC8800;
	margin:0;
	padding:0;
}
p
{
	font-size:0.9em;
}
div
{
	margin:auto;
	width:512px;
}
.row {
	clear:both;
}
span
{
	width:16px;
	height:16px;
	float:left;
}
#hidden {
	display:none;
}
#player img {
	position:relative;
	top:0;
	left:0;
	height:16px;
	width:16px;
}
.enemy-slime {
	position:relative;
	top:-16px;
	left:-16px;
	width:32px;
	height:32px;
}